#root{
    width: 100%;

}

body{
    background-color: #F2EAD7;
    align-items: flex-start;
    padding: 0 80px;
}

.navbar{
    background-color: #D38204;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 30px 0;
    align-items: center;
    border-radius: 30px;
}

.logo{
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar-items{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    gap : 3rem;
}

.navbar-items a{
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.signup-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup{
    background-color: #FFC05D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    width: fit-content;
    padding: 20px 40px;
    line-height: 38px;
    color: black;
    letter-spacing: 1px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form label{
    font-size: 16px;
    display: inline-block;
    width: 130px;
    text-align: center;
}

.signup-form input{
    background-color: white;
    border: none;
    color: black;
}

.signup-form button{
    background-color: #684F3B;
    font-size: 14px;
    padding: 5px;
    align-self: center;
    margin: 10px 0 5px 0;
    border: none;
}

.signup-span{
    font-size: 14px;
    color: #2b2a2a;
}

.dropdown-signup select{
    width: 173px;
    height: 17px;
    background-color: white;
    color: black;
    border: none;
}

